<div class="container">

    <h2>{{user.name}} Review</h2>
    <hr>
    <br>
    <div class="row justify-content-between">
        <div class="col-md-6">
            <h3>{{airport.name}}</h3>

        </div>
        <div class="col-md-12 ">
            <div id="airportMap"></div>

        </div>
    </div>
    <p><b>Fecha:</b>{{createdAt}} </p> <p><b>Rating:</b> {{rating}}</p>
    <p><b>Experiencia positiva:</b>{{experience.positiveExperience}}</p>

    <p><b>Experiencia negativa:</b>{{experience.negativeExperience}}</p>
    <p><b>Tiempo en migración:</b> {{migrationTime}}</p>
    {{#if requirements.pcr }}
    <p><b>PCR:</b>Sí</p>
    {{else}}
    <p><b>PCR:</b>No</p>
    {{/if}}
    {{#if requirements.vaccine }}
    <p><b>VACUNA:</b>Sí</p>
    {{else}}
    <p><b>VACUNA:</b>No</p>
    {{/if}}
    {{#if requirements.greenPassport }}
    <p><b>GREENPASSPORT:</b>Sí</p>
    {{else}}
    <p><b>GREENPASSPORT:</b>No</p>
    {{/if}}
    {{#if requirements.quarantine }}
    <p><b>CUARENTENA:</b>Sí</p>
    {{else}}
    <p><b>CUARENTENA:</b>No</p>
    {{/if}}
    <hr>
    <div class="row justify-content-between">
        <div class="col-md-6">
            <a href="/review" class=" btn btn-dark">Volver al listado</a>
        </div>
        <input hidden id="review_id" data-id={{id}} />
        <div class="col-md-6 ">
            <div class="btn-group">

                <a class="btn btn-danger btn-lg" href="/review/{{id}}/delete">Eliminar</a>
                <br>

                <a class="btn btn-primary btn-lg" href="/review/{{id}}/edit">Editar</a>
            </div>
        </div>
    </div>


</div>


{{!-- Scrips para la gestión del mapa en la vista --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwTH6kTi9AF4mF5D405BeR38sDTuyxNbg&callback=getAirportData"></script>
<script src="/js/script.js"></script>