<div class="container">
    <h1>Perfil Usuario</h1>
    <hr>
    <br>
    <div class="row justify-content-between">
        <div class="col-md-4">

            <h2><strong>Nombre: {{name}}</strong></h2>
        </div>

        <div class="col-md-4 ">
            <div class="btn-group">
                <a href="profile/{{_id}}/delete" class="btn btn-danger">Eliminar usuario</a>
                <br>
                <a class="btn btn-primary btn-lg" href='/profile/{{_id}}/edit'>Editar</a>
            </div>
        </div>
    </div>
    <section>

        <div>
            <img class='img' src="{{image}}" alt="{{name}}">
        </div>

    </section>

    <div class="row">
        <div class="col-md-8 flex-row">
            <h4>Sobre ti: {{description}}</h4>
        </div>
        <div class="col-md-4">
            <br>
            <h6>Email:{{mail}}</h6>
            <br>
        </div>
    </div>
    <hr>
    <a href="/" class=" btn btn-dark">Volver a Inicio</a>
</div>